<div class="div-container p-5">

    <!--No favorites  -->
    <div *ngIf="FavoriteCities.Cities.length == 0" class="center-big-text">You have no favorites yet...</div>

    <!--View all favorites, each one can link to main page  -->
    <div class="condition-container favorite pointer" *ngFor="let favorite of FavoriteCities.Cities; let index = index" routerLink="../weather"
        [queryParams]="{ city: favorite.City.LocalizedName, key: favorite.City.Key }">
        <div class="favorite-route"><span><</span></div>
        <div class="favorite-details">
            <div>{{favorite.City.LocalizedName}}</div>
            <div *ngIf="TemperatureType.Celsius">{{favorite.Condition.Temperature.Metric.Value}}°C</div>
            <div *ngIf="!TemperatureType.Celsius">{{favorite.Condition.Temperature.Imperial.Value}}°F</div>
            <div>{{favorite.Condition.WeatherText}}</div>
        </div>
    </div>

</div>